# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribuciones / empaquetado
build/
dist/
*.egg-info/
*.egg

# Entornos virtuales
.venv/
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs y temporales
*.log
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos locales de Office
~$*
